<%# content_for(:title) do -%>
<%#= h 'Twitter Status ID ' + @reply_chain[-1].id.to_s -%>
<%# end -%>
<h1>Reply Chain for ID# <%#= h @reply_chain[-1].id %></h1>
<%# @reply_chain.each_reply do |reply| -%>
  <h2 class="author"><%#= h reply.author %></h2>
  <p class="time"><%#= h reply.time %></p>
  <p class="status"><%#= h reply.text %></p>
<%# end -%>

<p>@reply_chain: <%= @reply_chain.to_s %></p>
<p>params:</p>
<ul>
<% params.each_key do |key| -%>
  <li><%= h key %>: <%= h params[key] %></li>
<% end -%>
</ul>
