%p Something broke, apparently. Did you put something non-id-ish in the id field?

%p
  If you need some help, hit be up
  = "#{link_to 'http://twitter.com/benhamill', 'on twitter'}."
  Sorry my website broke on you.
