%p Want to read a whole exchange in Twitter? Fill in a Twitter message ID below.
%form{:action => '/reply_chain', :method => 'get'}
  %label{:for => 'id'} Stats ID or Single Message URL
  %input#id{:type => 'text', :name => 'id'}
  %input{:type => 'submit', :value => 'Go!'}
