body {
  background: #210 url('/at_background.png') center center;
  color: #310;
  margin: 0;
  padding: 0;
}

#header {
  margin: 0 auto;
  border-bottom: 3px solid #532;
  background-color: #ed7;
  width: 900px;
  padding: 50px;
}

#header h1, h2 {
  padding: 0;
  margin: 0;
}

#header h2 {
  font-size: 1em;
}

#container {
  background-color: #eeb;
  padding: 30px 50px;
  width: 900px;
  margin: 0 auto;
}

#footer {
  width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  border-top: 3px solid #532;
  background-color: #ed7;
}

#footer p {
  padding: 1em 0;
  font-size: 0.8em;
}

.tweet {
  margin: 1em 0;
}

.tweet p {
  padding: 0;
  margin: 0;
}

a.author {
  font-weight: bold;
}

p.meta {
  font-size: 80%;
}

a {
  text-decoration: none;
  color: #930;
}

body a:hover {
  text-decoration: underline;
  color: #930;
}

a:visited {
  color: #310;
  text-decoration: underline;
}
