<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>@reply :: <%= yield :title %></title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag 'application' %>
</head>

<body>
  <div id="container">
    <div id="header">
      <h1>@<a href="/">reply</a></h1>
      <h2>A conversation display for <a href="http://twitter.com">Twitter</a>.</h2>
    </div><!-- header -->
    
    <div id="body">
      <%= yield %>
    </div><!-- body -->
  </div><!-- container -->
  
  <div id="footer">
    <p><a href="/">@reply</a> by <a href="http://twitter.com/benhamill">@benhamill</a>.</p>
  </div><!-- footer -->
</body>
</html>